<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>Detail</title>
</head>
<body>
		<h1>detail??</h1>
		<h3>{{ machine.name }}</h3>
		Period now :<h4>{{ machine.para1 }}</h4>
		<form action="{% url 'miner:change' %}" method="POST" >
			Period new: <input type="text" name="para1"><br>
			<input type="hidden" name="miner" value="{{machine.id}}">
			<input type="hidden" name="miner-id" value="{{machine.id}}">
			{% csrf_token %}
			<label>
				<tr>
					<td>choice</td>
					<td>
						<select name="pool">
							<option value="{{ now_pool.id }}">{{ now_pool.name }}</option>
							{% for pool in pools %}
								<option value="{{ pool.id }}">{{ pool.name }}</option>
							{% endfor %}
						</select>
					</td>
					<td><input type="submit" value="Submit" /></td>
				</tr>
			</label>
		</form>
</body>
</html>